.container {
    display: flex;
    margin: 12px 0;

    .inner-container {
        max-width: 80%;
        border-radius: 10px;
        padding: 8px 12px;
        display: flex;

        .content-container {
            margin-top: 4px;

            img {
                border-radius: 4px;
            }
        };

        .time-container {
            padding: 4px;
            margin-left: 6px;
            display: flex;
            align-items: flex-end;

            .time {
                font-size: 10px;
            }
        }
    }

    &.left-bubble {
        justify-content: start;

        .inner-container {
            background-color: var(--ion-color-light-shade);

            .content-container {
                text-align: left;
                color: #000;
                height: 100%;
            }
        }
    }

    &.right-bubble {
        justify-content: end;

        .inner-container {
            background-color: var(--ion-color-success);

            .content-container {
                text-align: right;
                color: #fff;
            }

            .time {
                color: #fff;
            }
        }
    }
}