ion-avatar {
    height: 60px;
    width: 60px;

    img {
        position: relative;
        height: 60px;
        width: 60px;
        
        &.border-success {
            border: 3px solid var(--ion-color-success);
        }

        &.border-medium {
            border: 3px solid var(--ion-color-medium);
        }
    }

    .button-add-container {
        position: absolute;
        margin-top: -30px;
        margin-left: 35px;
        font-size: 28px;
        background-color: #fff !important;
        border-radius: 50%;
        height: 29px;
    }
}

.status-info {
    width: 100%;

    .status-person-name, .time-info {
        margin: 0;
        padding: 0;
    }

    .status-person-name {
        font-weight: bold;
        margin-bottom: 8px;   
    }

    .time-info {
        font-size: 14px;
        color: var(--ion-color-dark-shade);
    }
}