<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-title class="ion-text-center">Attachment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="large" color="success" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="image-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="large" color="success" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="large" color="success" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="document-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="large" color="success" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="people-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>