<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ displayName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" disabled>
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
      <ion-button color="success" disabled>
        <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
      </ion-button>
      <ion-button color="success">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="chat-textfield">
      <div class="input-area">
        <ion-button class="input-area-button" fill="clear">
          <ion-icon slot="icon-only" color="medium" name="happy-outline"></ion-icon>
        </ion-button>
        <ion-input type="text" placeholder="Enter message..." [(ngModel)]="inputText"></ion-input>
        <ion-button class="input-area-button" fill="clear">
          <ion-icon slot="icon-only" color="medium" name="attach-outline"></ion-icon>
        </ion-button>
        <ion-button class="input-area-button" fill="clear">
          <ion-icon slot="icon-only" color="medium" name="camera-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-button color="success" class="button-send">
        <ion-icon slot="icon-only" [name]="inputText.length > 0 ? 'send' : 'mic'"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
