ion-slides {
    display: block;
    height: 100%;

    ion-slide {
        display: block;
        text-align: left;
    }
}

.status-sub-title {
    margin: 12px 0px 0px 16px;
    color: var(--ion-color-medium);
}

.slide-status {
    padding-top: 12px;
}

ion-fab-button {
    margin-right: 12px;
    margin-bottom: 24px;
}

.fab-pencil {
    margin-bottom: 12px;
}